html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

pre{
    background: #f6f8fa;
    overflow-x: auto;
    width: 100%;
    padding: 0.5rem;
}

@tailwind components; 

@tailwind utilities;


